.homeContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.actions {
    margin: 4rem 3rem;
}

.actionRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 6;
}

.actionRight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 6;
}

.actionRow {
    display: flex;
    gap: 3%;
}

.studentsBranch {
    background-color: #fff;
    width: 100%;
    height: 12rem;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.studentsBranch:hover {
    background-color: green;
    color: #fff;
}

.csSociety {
    background-color: #fff;
    width: 100%;
    height: 12rem;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.csSociety:hover {
    background-color: blue;
    color: #fff;
}

.txt {
    font-weight: 500;
    font-size: 1.4rem;
}

.eventsContainer {
    display: flex;
    flex-direction: column;
    margin: 4rem 3rem;
}

.eventTitle {
    font-size: 1.6rem;
    font-weight: 500;
}

.eventsBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 0.1rem;
    justify-content: space-between;
}

.eventItem {
    width: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.eventPic {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.eventName {
    font-size: 1.3rem;
    color: blue;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.eventItemTxtBox {
    display: flex;
    padding: 10px 10px 0px 10px;
    flex-direction: column;
}

.readmore {
    color: darkblue;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 10px;
}

.readmore:hover{
    color: red;
}

.moreEventRow {
    margin: 4rem 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreEvents {
    width: 20rem;
    padding: 15px;
    border-radius: 10px;
    background-color: blue;
    color: #ffff;
    font-weight: 500;
    outline: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}