.branchContainer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 80px;
    gap: 30px;
}

@media (max-width: 768px) {
    .branchContainer {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 20px;
        width: 100%;
    }
}

.branchCol {
    flex: 6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 2px 2px rgb(206, 206, 206);
    border-radius: 10px;
    height: 200px;
    width: 100%;
    cursor: pointer;
    transition: 0.05s all ease;
}

@media (max-width: 768px) {
    .cardLeft {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 1px 1px 2px 2px rgb(206, 206, 206);
        border-radius: 10px;
        height: 200px;
        width: 80%;
        cursor: pointer;
        transition: 0.05s all ease;
    }
}

.cardLeft:hover {
    background-color: green;
    color: white;
    transform: scale(1.01)
}


.cardRight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 2px 2px rgb(206, 206, 206);
    border-radius: 10px;
    height: 200px;
    width: 100%;
    cursor: pointer;
    transition: 0.05s all ease;
}

@media (max-width: 768px) {
    .cardRight {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 1px 1px 2px 2px rgb(206, 206, 206);
        border-radius: 10px;
        height: 200px;
        width: 80%;
        cursor: pointer;
        transition: 0.05s all ease;
    }
}

.cardRight:hover {
    background-color: red;
    color: white;
    transform: scale(1.01)
}

.cardTxt {
    font-size: 20px;
}