.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 95;
}

.eventContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .eventContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px ;
        margin-bottom: 20px;
    }
}

.eventBtn {
    width: 15%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid blue;
    color: blue;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    transition: all 1.ms ease;
}

@media (max-width: 768px) {
    .eventBtn {
        width: 84%;
        padding: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid blue;
        color: blue;
        text-transform: capitalize;
        font-size: 20px;
        cursor: pointer;
        transition: all 1.ms ease;
    }
}

.eventBtn:hover {
    transform: scale(1.03);
    background-color: blue;
    color: #fff;
}