.bannerContainer{
    margin-top: 13.9vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bannerImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.BannerTxtBox{
    position: absolute;
    bottom: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 35%;
    width: 60%;
    transform: translateX(-50%);
    background-color: rgba(15, 0, 51, 0.096);
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.ieee{
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    color: hsla(0, 0%, 100%, 0.979);
    font-size: 3.5rem;
    font-weight: 800;
}

.collegeName{
    font-size: 1rem;
    letter-spacing: 0.5rem;
    font-weight: 600;
    color: #FFF;
}