.Container {
    box-shadow: rgba(158, 158, 158, 0.24) 0px 3px 8px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    z-index: 9999;
    right:3rem;
    top: 5.2rem;
    width: 300px;
    object-fit: contain;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

@media only screen and (max-width: 767px) {
    .Container {
        box-shadow: rgba(158, 158, 158, 0.24) 0px 3px 8px;
        background-color: #ffffff;
        position: absolute;
        border-radius: 10px;
        z-index: 9999;
        right:0.1rem;
        top: 4.3rem;
        width: 90%;
        object-fit: contain;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }
}

.Title{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.NotificationBox{
    min-height: 17rem;
    align-items: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    
.NotificationBox{
    height: 30rem;
    align-items: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

}

.nothingImg{
    height: 6rem;
}

.info{
    display: flex;
    font-size: 0.9rem;
    font-weight: normal;
}