*{
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  -webkit-tap-highlight-color: transparent;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0051ff;
  border-radius: 5px;
}

*::-webkit-scrollbar-track:hover {
  background-color: #10ff247c;
}