* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* WebKit-based browsers */
*::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    /* Width of the scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: #2533ee;
    border-radius: 5px;
    /* Color of the thumb (scrollbar handle) */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #6063f1;
    /* Color of the thumb on hover */
}

*::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    /* Color of the track (scrollbar background) */
}

html {
    scroll-behavior: smooth;
  }

  a{
    text-decoration: none;
    color: black;
  }
  