.container {
    display: flex;
    background: hsl(0, 0%, 100%);
    height: 100%;
}

.wrapper {
    margin-top: 13.9vh;
    width: 100%;
}


.wrap {
    display: flex;
    flex-direction: column;
    margin: 4rem 3rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.eventsRow{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.eventTitle{
    font-size: 1.9rem;
    font-weight: 700;
}