.bannerContainer {
    display: flex;
    height: 98vh;
    object-fit: cover;
}

@media (max-width: 768px) {
    .bannerContainer {
        height: 30vh;
        margin-top: 3.3rem;
        display: flex;
    }
}

.bannerImg {
    display: flex;
}

.txtTop {
    font-size: 32px;
}

@media (max-width: 768px) {
    .txtTop {
        font-size: 18px;
    }
}

.clgTxt {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .clgTxt {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.clgNameBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left {
    flex: 3;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    background-color: rgba(3, 3, 24, 0.315);
    color: #fff;
    backdrop-filter: blur(1px);
}

@media (max-width: 768px) {
    .left {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        background-color: rgba(3, 3, 24, 0.315);
        color: #fff;
        backdrop-filter: blur(1px);
    }
}

.ieeeLogo {
    height: 3rem;
    margin-right: 30px;
}
.carmelLogo {
    height: 5rem;
}

@media (max-width: 768px) {
    .ieeeLogo {
        height: 1.5rem;
        margin-right: 30px;
    }
}