.bannerContainer {
    display: flex;
    height: 98vh;
}

.bannerImg {
  display: flex;
}

.txtTop {
    font-size: 32px;
}

.clgTxt {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.clgNameBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left {
    flex: 3;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    background-color:rgba(3, 3, 24, 0.315);
    color: #fff;
    backdrop-filter: blur(1px);
}

.right {
    flex: 9;
    display: flex;
}

.ieeeLogo {
    height: 3rem;
    margin-right: 30px;
}

.carmelLogo {
    height: 5rem;
}