.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    position: fixed;
    width: 95;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 20px 10px;
    z-index: 1000;
}

@media (max-width: 768px) {
    .navbarContainer {
        padding: 0px;
        position: fixed;
        height: auto;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: #fff;

        z-index: 1000;
        display: flex;
        align-items: center;
    }
}


.navbarResContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    width: 95;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.navWrapper {
    padding: 0px 40px;
    display: flex;
    width: 100%;
}

@media (max-width: 768px) {
    .navWrapper {
        padding: 0px 5px;
        width: 100%;
        height: 100%;
    }
}

.navResWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 5px;
    height: 100%;
}

.toggleIcon {
    display: none;
}

@media (max-width: 768px) {
    .toggleIcon {
        display: flex;
        margin-bottom: 6px;
        cursor: pointer;
    }
}

.navbarLeftCol {
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
}

.navbarRightCol {
    flex: 5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .navbarRightCol {
        display: none;
    }
}

.navbarResRightCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    gap: 10px;
}

.navbarLogo {
    height: 5rem;
}

@media (max-width: 768px) {
    .navbarLogo {
        height: 2.7rem;
    }
}

.navbarRightItem {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.0px;
    text-transform: capitalize;
    cursor: pointer;
}

.navbarRightColItemDiv {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navbarResRightColItemDiv {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    justify-content: center;
    box-shadow: 0px 1px 1px 1px rgb(241, 241, 241);
}

.navbarRightColItemDiv::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(0, 68, 255);
    transition: width 0.3s ease-in-out;
}

.navbarRightColItemDiv:hover::after {
    width: 100%;
}