.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding:8px 50px;
}

.navbarLeftCol {
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: start;
}

.navbarRightCol{
    flex: 5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-between;
}

.navbarLogo{
    height: 5rem;
}

.navbarRightItem{
    
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.0px;
    text-transform: capitalize;
    cursor: pointer;
}